<div class="row" ng-controller="ApicEMLoginController"
	style="margin-top: 80px;">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<msg key="connectToApicem"></msg>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form form-horizontal" ng-submit="apicemLogin()" name="apicLoginForm" id="apicLoginForm">

					<div class="form-group">
						<label class="control-label col-md-3" for="apicemIp"><msg
								key="apicemIP"></msg></label>
						<div class="col-md-6">
							 <select class="form-control" ng-model="selectedApicem" id= "apicemIp" required="required" name="apicemIp"
								ng-options="item.apicemIP as item.apicemIP for item in allApicEms" required>
							</select> 
							<!-- <span class="error" ng-show="onboardForm.apicemIp.$dirty && onboardForm.apicemIp.$invalid">Select APIC EM</span> -->
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="username"><msg
								key="username"></msg></label>
						<div class="col-md-6">
							<input class="form-control" id="username" ng-model="apicUsername" placeholder="APIC EM Username" required="required" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3" for="password"><msg
								key="password"></msg></label>

						<div class="col-md-6">
							<input class="form-control " type="password" id="password" placeholder="APIC EM Password"
								ng-model="apicPassword" required="required"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-6">
							<button type="submit" class="button-cta">
								<msg key="connect"></msg>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<msg key=onborardApicem></msg>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form form-horizontal" ng-submit="onboardApicEm()" name="onboardForm" id="onboardForm">

					<div class="form-group">
						<label class="control-label col-md-3" for="apicemIp"><msg
								key="apicemIP"></msg></label>
						<div class="col-md-6">
								<input class="form-control" ng-model="newApicIP" placeholder="APIC EM IP" required="required" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="Version"><msg
								key="version"></msg></label>
						<div class="col-md-6">
							<select class="form-control" id="version"  name="version"  ng-model="newApicVersion" placeholder="APIC EM Version" required >
							<option value="v0">V0</option>
							<option value="v1">V1</option>
							</select>
						<!-- 	<span class="error" ng-show="onboardForm.version.$dirty && onboardForm.version.$invalid">Select Version</span> -->
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="location"><msg
								key="location"></msg></label>
						<div class="col-md-6">
							<input class="form-control" id="location" ng-model="location" placeholder="APIC EM Location" required="required" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-6">
							<button type="submit" class="button-cta">
								<msg key="onborard"></msg>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

