<div class="page-header">
	<h1>Quiz for : {{deviceId}}</h1>
</div>
<script type="text/ng-template" id="quiz.html">
					<div class="question">
						<span>{{question.questionNumber}}</span> &nbsp;.&nbsp;
						<span>{{question.question}}</span> 
								<div class="radio answer">
								 <label ng-repeat="option in question.options">
								&nbsp;.&nbsp;&nbsp;.&nbsp;<input type="radio" name="{{option}}" value="{{option}}" >{{option}} </input> &nbsp;&nbsp;&nbsp;
								</label>
								
					</div>
				</div>
				</script>
<div ng-repeat="question in questionare" ng-include="'quiz.html'"></div>
<br\>
<br\>

<form class="form form-inline">
	<div class="row" style="margin-bottom: 05px;">
		<div class="col-md-12">
			<div class="form-group">
				<div class="input-group">
					<button type="button" class="btn btn-success" ng-click="quizSubmit()">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>
