<div class="page-header">
	<h1>Questionaire  </h1>
	<tags-input ng-model="tags"> <auto-complete
					source="loadTags($query)"></auto-complete> </tags-input> 
</div>
<div id="page-wrapper">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Questionaire Form</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div>
						<table width="100%" class="table table1">
							<tbody ng-repeat="item in questions">
								<tr>
									<th>{{item.question}}</th>
								</tr>
								<tr ng-repeat="option in item.options">
									<td style="border-top-width: 0px;"><label><input
											type="{{item.type}}" name="{{item.name}}"
											ng-click="questionSelected(item.name,option.value,item.type)"
											ng-value="'true'" ng-model="option.isUserAnswer">
											&nbsp;{{option.value}}</input> </input> </label>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!--   Quantity: {{qty}} Date {{currDate}}-->
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">Recommended Products</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table1">
							<tbody ng-repeat="product in replacableProducts">
								<tr>
									<td width="27%" rowspan="3"><img
										src="img/cisco-switch.jpg" alt="" /></td>
									<td width="61%">{{product.productId}}</td>
									<td width="12%" colspan="3">&nbsp;</td>
								</tr>
								<tr>
									<td>{{product.description}}</td>
									<td colspan="3" align="center" valign="middle"><strong>Price
											:</strong> ${{product.price}}</td>
								</tr>
								<tr>
									<td><a href="#">Data sheet Link</a></td>
									<td colspan="3" align="center" valign="middle"><button
											class="btn btn-primary">Replace</button></td>
								</tr>
								<tr>
									<td colspan="3"><hr /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>

	</div>

</div>