<div class="page-header">
	<h1>Replaceable Device For : {{deviceId}}</h1>
</div>
<form>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-hover" st-table="devices">
					<thead>
						<!-- <tr>
							<th st-sort="discoveryId"><msg key="discoveryId"></msg></th>
							<th st-sort="ip"><msg key="ip"></msg></th>
							<th st-sort="reachStatus"><msg key="reachStatus"></msg></th>
							<th st-sort="reachReason"><msg key="reachReason"></msg></th>
							<th><msg key="upgrade"></msg></th>
							</tr> -->
						<tr>
							<th><input type="checkbox" name="" />&nbsp;All</th>
							<th>IP Address</th>
							<th>Platform ID</th>
							<th>Reachability Status</th>
							<th>UP Time</th>
							<th>Mac Address</th>
							<th>Memory Size</th>
							<th>Location</th>
							<th>Family</th>
							<th>Software Version</th>
						</tr>

						<!-- 	<tr>
							<th colspan="5"><input st-search="" class="form-control"
								placeholder="global search ..." type="text" /></th>
						</tr> -->
					</thead>
					<tbody>
						<tr ng-repeat="device in devices">
							<td><input type="checkbox" name="" /></td>
							<td><a ng-href="#/discovery/{{device.id}}">{{device.managementIpAddress}}</a></td>
							<td>{{device.platformId}}</td>
							<td>{{device.reachabilityStatus}}</td>
							<td>{{device.upTime}}</td>
							<td>{{device.macAddress}}</td>
							<td>{{device.memorySize}}</td>
							<td>{{device.locationName}}</td>
							<td>{{device.family}}</td>
							<td>{{device.softwareVersion}}</td>
						</tr>
						<tr class="gradeU">
							<td colspan="11" align="center"><a ng-href='#/discovery/{{deviceId}}/questionare'><button
										class="btn btn-primary btn-lg">Replace</button></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="11" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage"
									st-displayed-pages="7"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</form>
