body {
    margin:0;
    padding:0;
    font-family: arial,helvetica,"Helvetica Neue","HelveticaNeue","Lucida Grande",sans-serif;
    color:#333;
    font-weight:normal;
    font-size:12px;
}
.form-control{font-size:12px;}
.page{
    min-height: 400px;
}
header{
  display: block;
  min-height: 75px;
  height: 75px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #3c6aa1;
  background: -webkit-gradient(linear,100% 50%,0% 50%,color-stop(0%,#4d80af),color-stop(100%,#2b5593));
  background: -webkit-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background: -moz-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background: -o-linear-gradient(top,#4d80af 0,#2b5593 100%);
  background: linear-gradient(top,#4d80af 0,#2b5593 100%);
  background: -ms-linear-gradient(top,#4d80af 0,#2b5593 100%);
}
.guest-actions{margin-top:-30px;}
footer{
  border-top:1px solid #ccc; padding: 15px 0 15px; overflow: hidden;  display: block;  position: relative;  width: auto;  clear: left;
}
footer a{color:#007fc5; display:inline-block; padding-right:10px; padding-left:10px; border-right:1px solid #ccc; font-size:12px;}
footer a:hover { text-decoration: underline;}
footer a:visited{text-decoration:none;}

.nav>li>a {color:#fff;}
.nav>li>a:hover{ background-color:transparent; text-decoration:underline;}


.toolbar{
    margin:10px;
}

.question{
	border :0px solid darkgray;
	padding: 10 px;
	margin-bottom :10px
}

.answer{
	border :0px solid lightgray;
	padding: 5 px;
	background:linear-gradient(lightgray)
}

.container{width:1024px;}

.pagetitle{font-size:2.6rem; padding:14px 0 20px 0; margin:0;}

.language{margin-bottom:20px;}
.language label{font-weight:normal;}
.language .select_box{ width: 20%;  display: inline;  margin-left: 15px;}


 .box-padded {
  margin-bottom: 25px;
  padding: 15px 14px;
  min-height: 231px;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FFF;
}
#login h3 {
  display: block;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 14px;
  font-size:1.4rem;
  font-weight:bold;
}
#login input{width:75%;'}
#login label{font-weight:normal;}

#register h3 {
  padding-top: 0;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color:#444;
}

#register p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 26px;
}
.button-cta {
  border: 1px solid #444;
  color: #444;
  background-color: #efefef;
  background: -webkit-gradient(linear,100% 50%,0% 50%,color-stop(0%,#fdfdfd),color-stop(100%,#bcbcbc));
  background: -webkit-linear-gradient(top,#fdfdfd 0,#bcbcbc 100%);
  background: -moz-linear-gradient(top,#fdfdfd 0,#bcbcbc 100%);
  background: -o-linear-gradient(top,#fdfdfd 0,#bcbcbc 100%);
  background: linear-gradient(top,#fdfdfd 0,#bcbcbc 100%);
  background: -ms-linear-gradient(top,#fdfdfd 0,#bcbcbc 100%);
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: auto;
  padding: 5px 10px;
  margin: 0;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 13.0px;
  font-size: 1.3rem;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  -o-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}

.details_inventory_search{margin-top:15px; margin-left:-7px; margin-right:-7px;}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{ 
	padding:15px 8px;
}
.table>thead{background-color:#e3e3e3;}

