<div style="margin: 100px 0; ">
    <p class="text-center" style="font-size: 48pt"> APIC EM - Network Assessment</p>

    <p style="font-size: 20pt">
        This application is designated to demonstration purpose only; It contains the following functionality<br/>
        1. Login page   - Fully working      <br/>
        2. Device inventory by connecting to CISCO sandbox   - Fully working     <br/>
        3. Quiz form - Inprogress <br/>
    </p>
    
    <p><a class="btn btn-block btn-lg btn-success" href="#/login">START HERE</a></p>
</div>

